@model MVCExample.Models.HomePageModel 

@{
    MvcHtmlString preRenderedView = Html.Partial("_partialView");
    MvcHtmlString preRenderedAction = Html.Action("Index", "Action");
}

<div class="jumbotron">
    <h1>@Model.Header</h1>
    <p class="lead">@Model.MainParagraph</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div>
    @{Html.RenderAction("Index", "RenderAction");}
</div>

<div>
    @preRenderedAction
</div>

<div>
    @{ Html.RenderPartial("_partialView");}
</div>

<div>
    @preRenderedView
</div>